body{
}

#container{
    display: flex;
    justify-content: center;
    width: 80%;
}

h1{
    text-align: center;
    font-family: 'Baloo Da 2', cursive;
}

h3{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
}


div img{
    max-width: 100%;
    min-height: 80%;
    min-width: 50%;
}

.cell{
    width: 10rem;
    height: 10rem;
    transition: all;
    transition-duration: 1.5s;    
}

.row{
    display: flex;
    width: 100%;
}

.center-col{
    border-left: solid 3px black;
    border-right: solid 3px black;
}

.center-row{
    border-top: solid 3px black;
    border-bottom: solid 3px black;
}

.winners{
    background: blue;
    transform: rotate(720deg);
}